.popular__contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.popular__contenido1{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    row-gap: 1rem;
}
.popular__contenido2{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}